<%= javascript_include_tag('task_board', :plugin => 'redmine_task_board') %>

<div id="taskboard-filters">
  <p>
    <%= label_tag "assignee", l(:task_board_assignee) %>
    <%
      author_values = [[l(:task_board_anyone), '0']]
      author_values << ["<< #{l(:label_me)} >>", User.current.id] if User.current.logged?
      author_values += @project.members.collect { |m| [ m.name, m.user.id ] }
    %>
    <%= select_tag("assignee", options_for_select(author_values)) %>
    <%= label_tag "priority", l(:task_board_priority) %>
    <%= select_tag("priority", options_for_select([[l(:task_board_any), '0']] + IssuePriority.all.collect { |m| [ m.name, m.id ] } )) %>
    <%= label_tag "category", l(:task_board_category) %>
    <%= select_tag("category", options_for_select([[l(:task_board_any), '0']] + @categories.collect { |m| [ m.name, m.id ] } )) %>
    <% if @include_subprojects %>
      <%= label_tag "project", l(:task_board_project) %>
      <%= select_tag("project", options_for_select([[l(:task_board_any), '0']] + @project.children.active.collect { |m| [ m.name, m.id ] } )) %>
    <% end %>
  </p>
</div>

<div id="taskboard-buttons">
  <input type="button" id="edit-issues" value="<%= translate :task_board_issue_bulk_edit %>" />
  <input type="button" id="archive-issues" value="<%= translate :task_board_issue_bulk_archive %>" />
</div>

<div class="taskboard-wrapper" id="sortable-root">
  <% @columns.each do|column| %>
    <div class="taskboard-pane">
      <h2><%= column.title %></h2>
      <% column.issues.each do |status_id, issues| %>
        <% unless column.issues.size == 1 %>
          <h3 class="status"><%= @status_names[status_id] %></h3>
        <% end %>
        <ul data-status-id="<%= status_id %>" data-max-issues="<%= column.max_issues %>" id="column_<%= status_id %>"<% if issues.empty? %> class="empty"<% end %>>
          <% issues.each do|issue| %>
            <li class="card priority-<%= issue.priority.id.to_s %> <%= issue.tracker.name.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>" id="issue_<%= issue.id %>" data-issue-id="<%= issue.id %>" data-priority="<%= issue.priority.id.to_s %>" data-assignee="<%= issue.assigned_to ? issue.assigned_to.id.to_s : 0 %>" data-category="<%= issue.category ? issue.category.id.to_s : 0 %>" data-weight="<%= issue.weight %>" data-status-id="<%= issue.status_id %>" data-project="<%= issue.project_id %>">
              <div class="issue">
                <div class="issue-heading">
                  <p class="issue-number meta">
                    <input type="checkbox" name="ids[]" value="<%= issue.id.to_s %>" />
                    <%= link_to "#{issue.tracker} ##{issue.id.to_s}", :controller => :issues, :action => :show, :id => issue.id %>
                  </p>
                  <p class="issue-priority">
                    <%= issue.priority.name %>
                  </p>
                </div>
								<h3>
									<% if respond_to? :render_tag_link %>
										<span class='tag-list'>
											<%= safe_join(issue.tag_counts.collect{ |t| render_tag_link(t, :show_count => false, :open_only => false) }) %>
										</span>
									<% end %>
									<%= link_to((issue.category ? issue.category.name + ': ' : '') + issue.subject, :controller => :issues, :action => :show, :id => issue.id) %>
								</h3>
                <% if defined? issue.assigned_to.name %>
                  <p class="meta">
                    <%= link_to issue.assigned_to.name, :controller => :users, :action => :show, :id => issue.assigned_to.id %>
                  </p>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  var project_save_url = '<%= Redmine::Utils::relative_url_root %>/projects/<%= @project.id %>/taskboard/save';
  var project_archive_url = '<%= Redmine::Utils::relative_url_root %>/projects/<%= @project.id %>/taskboard/archive-issues';
  var sections = [];
  $('#sortable-root .taskboard-pane ul').each(function() {
    sections.push($(this).attr('id'));
  });
  for (var i in sections) {
    new TaskBoardPane(sections[i], {connectWith: '#sortable-root .taskboard-pane ul', constraint: false, scroll: true, dropOnEmpty: true, items: '> .card'});
  }
  TaskBoardUtils.checkboxListener();
  var filters = new TaskBoardFilters();
  // Sortable.create('sortable-root', {tree: true, dropOnEmpty: true, constraint: false, overlap: 'vertical'});
</script>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'taskboard', :plugin => 'redmine_task_board' %>
	<%= stylesheet_link_tag 'redmine_tags', :plugin => 'redmine_tags' if respond_to? :render_tag_link%>
<% end %>
